/****** Modules ***********/
@import "modules/appBar.css";
@import "modules/cards-and-card.css";
@import "modules/footer.css";
/******** Pages ***********/
@import "pages/hebergements-search.css";
@import "pages/hebergements-and-populaires.css";
@import "pages/activity-at.css";

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --information-size: 16px;
    --title-size: 16px;
    --search-font-size: 18px;
    --filter-title-font-size: 18px;
    --filter-font-size: 17px;
    --section-font-size: 22px;
    --card-font-size: 14px;

    --information-weight: 400;
    --filter-text-weight: 700;
    --search-font-weight: 700;

    --main-color: #0065FC;
    --filter-color: #0065FC;

    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

    --filter-border-color: #D9D9D9;

    --black: #000000;
    --white: #FFFFFF;

    --cards-space-between:30px;
    --cards-corner-radius:20px;

    --default-margin-inside-v-bottom: 30px;
    --default-margin-outside-v-top: 35px;

    --default-padding-text-v: 15px;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display:            flex;
    justify-content:    center;
    margin:             0;
    font-size:          var(--information-size);
    font-weight:        var(--information-weight);
}

.main-container {
    width:              100%;
    max-width:          1440px;
    min-width:          1025px;
    padding:            0 50px;
    box-sizing:         border-box;
}

main {
    margin-top:         30px;
}

a {
    color:              inherit;
    text-decoration:    none;
}

input {
    min-width:          0;
}

.section-title {
    margin: 0;
    font-size:          var(--section-font-size);
}

.filter--title {
    font-size:          var(--filter-title-font-size);
}

.euro {
    font-weight:        700;
}

.neutral-star {
    color:              var(--main-bg-color)
}

.flex-h {
    display:            flex;
    flex-direction:     row;
    flex-wrap:          wrap;
    gap:                var(--cards-space-between);
}

ul {
    list-style:         none;
    margin:             0;
    padding:            0;
}

.flex-h > li {
    display:            inline-block;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width:          100%;
    }

    .populaires {
        width:          100%;
        margin-top:     50px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}