/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
}

.card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-subtitle {
    margin: 0;
}

.card-rating {
    margin-bottom: 5px;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-cards .card {
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
}

@media (max-width: 1024px) {
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 33px;
}

.hebergements-cards a{
    flex-basis: calc(33% - 20px); /* la taille des cards ne prenant pas en compte le gap défini, il faut le mettre ici) */
    box-sizing: border-box;
}

.hebergements-cards .card {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}

.hebergements-cards img {
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
}

