/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section, .hebergements-and-populaires aside {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-cards .card {
   margin-top: var(--cards-space-between);
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: var(--cards-corner-radius);
    border-bottom-left-radius: var(--cards-corner-radius);
}

.populaires-cards .card-content {
    width: 67%;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h3 {
    margin: 0;
}

.hebergements-cards a{
    flex-basis: calc(33% - var(--cards-space-between)*2/3); /* la taille des cards ne prenant pas en compte le gap défini, il faut le mettre ici) */
    box-sizing: border-box;
}

.hebergements-cards .card {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}

.hebergements-cards .card .flex-gap-v-card-mini {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 4px;
}

.hebergements-cards img {
    height: 124px;
    border-top-left-radius: var(--cards-corner-radius);
    border-top-right-radius: var(--cards-corner-radius);
    margin-bottom: 5px;
}

.hebergements-cards .card-content {
    width: 100%;
}

.hebergements__footer {
    margin-top: var(--default-margin-outside-v-top);
}

.hebergements__footer--title {
    font-size: var(--filter-title-font-size);
}

@media (max-width: 1024px) {
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}