.appBar nav {
    height: 100%;
}
/*
TODO : radius search bar
 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
}

.header__logo {
    width: 61px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    align-self: start;
    gap: 68px;
}

.header__nav-item {
    box-sizing: border-box;
    padding-top: 10px;
    height: 35px;
}

.header__nav-item:hover, .header__nav-item:focus {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 8px;
}