.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    margin-top: var(--default-margin-outside-v-top);
}

.footer__column {
    padding: 20px;
    width: calc(100% / 3);
    box-sizing: border-box;
}

.footer__column div {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding-text-v);
}

.footer__column p {
    margin:0;
}

.footer__column h3 {
    margin:0;
    padding-bottom: var(--default-padding-text-v);
}