.footer {
    background-color: var(--main-bg-color);
    margin-top: var(--default-margin-outside-v-top);
}

.footer__nav {
    justify-content: space-between;
}

.footer__nav.flex-h {
    gap:0;

}

.footer__column {
    padding: 20px;
    width: calc(100% / 3);
    box-sizing: border-box;
}

.footer__column h3 {
    margin:0;
}

.footer__column--list .footer__column--item {
    padding-top: var(--default-padding-text-v);
}
