.hebergements {
}

.hebergements-search__bar {
    display:        flex;
    width:          377px;
    border-radius:  16px;
    border:         1px solid var(--main-bg-color);
}

.hebergements-search h2, .hebergements-search p {
    margin: 0;
}

.hebergements-search > *, .hebergements-search section > * {
    margin-bottom: 35px;
}

.hebergements-search__header h2 {
    margin-bottom: 8px;
}

.hebergements-search__bar > *  {
    flex:           1 100%;
    padding:        14px 0;
    border:         0;
    border-block:   0;
    font-weight:    var(--search-font-weight);
    font-size:      var(--search-font-size);
}

.hebergements-search__bar--position {
    flex-shrink:    0;
    flex-basis:     49px;
    background:     var(--main-bg-color) url('../../images/icons/position.svg') no-repeat center;
    border-radius:  16px 0 0 16px;
}

.hebergements-search__bar--input {
    font-size:      var(--search-font-size);
    text-align:     center;
}

.hebergements-search__bar--submit {
    flex-shrink:    0;
    flex-basis:     132px;
    background:     var(--main-color);
    border-radius:  0 16px 16px 0;
    color:          var(--white);
}

.hebergements-search__filters {
    display:        flex;
    align-items:    center;
    font-size:      var(--filter-font-size);
    font-weight:    var(--filter-text-weight);
    width:          fit-content;
}

.hebergements-search__filter {
    display:        flex;
    height:         50px;
    padding:        0 19px;
    gap:            10px;
    align-items:    center;
    vertical-align: middle;
    border:         2px solid var(--filter-border-color);
    border-radius:  24px;
    margin-left:    15px;
}

a.hebergements-search__filter:hover {
    background-color: var(--filter-bg-color);
}

.hebergements-search__filter .fa-2x {
    /* VG : Resize pour respecter précisément la maquette Figma, sur laquelle la taille des icônes est de 22px,
    taille non disponible sur les resize standards de Font-Awesome
    */
    font-size: 20px;
}

.info {
    display: inline-block;
    /* VG : Petit hack/contournement :
    il semble impossible d'afficher cette icône telle que demandée en Font-Awesome version free
    J'ai donc préféré l'exporter en svg depuis la maquette. Suis-je passé à coté de quelque-chose ?
     */
    background: url('../../images/icons/info-circle.svg') no-repeat center;
    width:24px;
    height:24px;
    line-height: 24px;
    margin-left: -1px;
}

.info__text {
    margin-left: 10px;
}