nav {
    height: 100%;
}
/*
TODO : radius search bar
 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.938rem;
}

.header__logo {
    width: 3.818rem;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12.75rem;
    height: 2.188rem;
    box-sizing: border-box;
    padding: 0;
    align-self: start;
}

.header__nav-item, .header__nav-item--active {
    box-sizing: border-box;
    padding-top: 0.625rem;
    height: 2.188rem;
}

.header__nav-item--active {
    color: var(--main-color);
    border-top: 0.125rem solid var(--main-color);
    padding-top: 0.5rem;
}